/* Reset de margem e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f9; /* Cor mais suave */
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Navbar */
.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.navbar p {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-left: 10px;
}

.navbar .btn-outline-success,
.navbar .btn-outline-primary {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #000000;
  border-color: #303f9f;
  transition: all 0.3s ease;
}

.navbar .btn-outline-success:hover,
.navbar .btn-outline-primary:hover {
  background-color: #303f9f;
  color: white;
  border-color: #303f9f;
}

.navbar-nav .nav-link {
  color: #000000 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #4f4f4f !important; /* azul do destaque ao passar o mouse */
}

.navbar-brand span {
  color: #000000 !important;
  font-weight: 600;
}

/* Menu Vertical (Lateral) */
.sidebar {
  position: fixed;
  top: 60px; /* Para deixar espaço abaixo da navbar */
  left: 0;
  width: 250px;
  height: calc(100vh - 60px); /* Ocupa o restante da tela */
  background-color: #ffffff;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  z-index: 5;
}

.sidebar .nav-item {
  margin: 15px 0;
}

.sidebar .nav-link {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
  background-color: #303f9f;
  color: white;
}

.sidebar .nav-link.active {
  background-color: #000000;
  color: white;
}

/* Main Content (Área principal) */
.main-content {
  margin-left: 250px; /* Espaço para o menu lateral */
  padding-top: 120px; /* Espaço para a navbar fixa */
  padding: 30px;
  padding-top: 100px;
  background-color: #f4f6f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}

/* Custom Styles for Profile Page */
.profile-info {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px; /* Tamanho maior para a área de edição */
  margin: 0 auto;
}

.profile-info h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

/* Estilo para o ícone de usuário e nome */
.user-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.user-header .user-icon {
  width: 60px;
  height: 60px;
  background-color: #303f9f;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.user-header .user-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.profile-info .form-control {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
}

.profile-info .form-control:focus {
  border-color: #303f9f;
  box-shadow: 0 0 5px rgba(48, 63, 159, 0.5);
}

.profile-info .btn-primary {
  background-color: #303f9f;
  border: none;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  color: white;
}

.profile-info .btn-primary:hover {
  background-color: #000000;
}
/* Botão que troca o tema */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* Ajuste na largura da tela */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Responsividade */
@media (max-width: 991px) {
  .main-content {
    margin-left: 0;
  }
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }
  .main-content {
    margin-left: 0;
    padding-top: 80px;
  }
}
