/* Exemplo de estilo para melhorar a aparência da tabela */
.table {
  margin-top: 20px;
  font-size: 1rem;
}

.table th {
  background-color: #f8f9fa;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.table td {
  padding: 12px;
}
